@import "variables.scss";

.opinions_container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 4.5rem;
  padding: 8.5rem 0 1.5rem 0;
  background-color: $innerBackground;
}

@media screen and (max-width: 480px) {
  .opinions_container {
    padding: calc(#{$mainVerticalPadding}/ 2) 0 1.5rem 0;
  }
}
