@import "variables.scss";

.aspects_container {
  width: 100%;
  background-color: $innerBackground;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 6.25rem $mainHorizontalPadding;
}

.content_container {
  padding-top: 3.75rem;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 2rem;
}
