@import "variables.scss";

.footer {
  width: 100%;
  padding: 3rem $mainHorizontalPadding;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 4.5rem;
  align-items: center;

  .copyright {
    justify-self: flex-start;
  }

  .copyright,
  a {
    font-weight: 400;
    font-size: 0.875rem;
    line-height: 1rem;
    color: $darkGrayText;
  }

  .logo {
    justify-self: center;
    height: 2.5rem;
  }

  .links {
    display: flex;
    column-gap: 1.5rem;
    justify-self: flex-end;
  }
}

@media screen and (max-width: 1100px) {
  .footer {
    padding: 2rem 6%;
  }
}

@media screen and (max-width: 992px) {
  .footer {
    .logo {
      height: 2rem
    }
  }
}

@media screen and (max-width: 860px) {
  .footer {
    .copyright,
    a {
      font-size: 0.8rem;
      line-height: 0.9rem;
      align-self: center;
    }
  }
}

@media screen and (max-width: 767px) {
  .footer {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr repeat(2, 0.6fr);
    row-gap: 1rem;
    .logo {
      grid-row-start: 1;
    }

    .copyright {
      justify-self: center;
      grid-row-start: 3;
    }

    .links {
      justify-self: center;
      justify-content: center;
    }

    .copyright,
    a {
      font-size: 1.3rem;
      line-height: 1.1rem;
    }
  }
}

@media screen and (max-width: 576px) {
  .footer {
    padding: 1.5rem 6%;
  }
}

@media screen and (max-width: 480px) {
  .footer {
    padding: 1.2rem 4%;

    .copyright,
    a {
      font-size: 1.1rem;
      line-height: 1rem;
    }
  }
}

@media screen and (max-width: 420px) {
  .footer {
    grid-template-rows: 1fr repeat(2, 0.5fr);
    padding: 0.6rem 4%;
    .logo {
      height: 1.75rem
    }
    .copyright,
    a {
      font-size: 0.9rem;
    }
  }
}
