@import url("https://fonts.googleapis.com/css2?family=Nunito&family=Ubuntu:ital,wght@0,300;0,400;0,500;1,700&display=swap");
@import "variables.scss";

body {
  font-family: "Ubuntu", sans-serif;
  background-color: #fff;
}

.heading {
  font-weight: 700;
  font-size: 2.375rem;
  color: $blackText;
}

.grey_paragraph {
  color: $grayText;
  font-weight: 400;
  font-size: 1.0625rem;
}
