@import url("https://fonts.googleapis.com/css2?family=Nunito&family=Ubuntu:ital,wght@0,300;0,400;0,500;1,700&display=swap");
@import "variables.scss";

*,
*::after,
*::before {
  box-sizing: border-box;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

body {
  margin: 0;
  font-family: "Ubuntu", sans-serif;
  background-color: #fff;
}

h2,
p {
  margin: 0;
}

a {
  text-decoration: none;
}

.grey_paragraph {
  color: $grayText;
  font-weight: 400;
  font-size: 1.0625rem;
  letter-spacing: 0.6px;
  line-height: 1.75rem;
}
