$primaryGreen: #4ebc84;
$blackText: #1e2022;
$grayTExt: #77838f;
$darkGrayText: #616161;
$whiteText: #edf3ff;
$navyBlueText: #272d4e;
$pureWhite: #fff;
$greenGradient: linear-gradient(135deg, #57d382 0.51%, #44a386 100%);
