@import "variables.scss";

.howTo_container {
  width: 100%;
  display: flex;
  padding: $mainVerticalPadding $mainHorizontalPadding;
}

.howTo_content {
  width: 50%;

  .howTo_paragraph {
    margin-top: 2.25rem;
  }

  .paragraphBold {
    margin-top: 1.75rem;
    font-weight: 700;
    display: block;
  }
}

.howTo_image_container {
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
